<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length>0){ %>
        <% orders.forEach(order=>{if(order){ %>
        <h1># <%= order.id %></h1>
        <ul>
            <% order.products.forEach(product=>{ %>
            <li><%= product.title %> (<%= product.orderItem.quantity  %>)</li>
            <% }); %>
        </ul>
        <% }}); %>
        <% }else{ %>
        <h1>No Orders Placed yet!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>